extends ../layout

block content
  head
    title Editar Médico
    link(rel="stylesheet", href="/css/style.css")
    style.
      body {
        font-family: 'Segoe UI', sans-serif;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 40px 0;
      }

  .contenedor(style="margin-top:20px;")
    img.logo-flotante(src="/img/logo.png", alt="Logo")
    br
    br
    .formulario-box
      h2 Edición de Médico
      br
      form#formEditarMedico
        .form-columns
          .columna
            .input-group
              label(for="dni") DNI (no editable)
              input(type="text", id="dni", disabled)
              br
            .input-group
              label(for="nombre") Nombre
              input(type="text", id="nombre", required)
              br
            .input-group
              label(for="correo") Correo
              input(type="email", id="correo", required)
              

              br

          .columna
            .input-group
              label(for="matricula") Matrícula
              input(type="text", id="matricula", required)
              br
            .input-group
              label(for="especialidad") Especialidad
              input(type="text", id="especialidad", required)
              br
              .input-group
              label(for="sexo") Sexo
              select(id="sexo", required)
                option(value="") Seleccionar
                option(value="Masculino") Masculino
                option(value="Femenino") Femenino

        button(type="submit", class="boton") Guardar cambios
        button(type="button", class="boton cancelar", onclick="window.location.href='/medicos'") Cancelar

  script(src="/js/editar-medico.js")
