extends layout

block content
  head
    title Crear Usuario
    link(rel="stylesheet", href="/css/style.css")
    style.
      body {
        font-family: 'Segoe UI', sans-serif;
        background: linear-gradient(to bottom, #7dbcff, rgba(255,255,255,0.8)), url('/img/hospital3.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 40px 0;
      }
      .formulario-box {
        background: white;
        padding: 30px;
        border-radius: 12px;
        box-shadow: 0 0 15px rgba(0,0,0,0.3);
        width: 500px;
      }


      button {
        margin-top: 25px;
        background-color: #1a73e8;
        border: none;
        color: white;
        padding: 12px 20px;
        font-size: 16px;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        width: 100%;
      }
      button:hover {
        background-color: #155ab6;
      }
      h1{
        text-align: center;
        font-size: 5vh;
      }
      .logo-flotante{
        top: 5px;
      }
  .formulario-box
    img.logo-flotante(src="/img/logo.png", alta="logo")
    br
    br
    h1 Crear Usuario
    form(action="/registrar", method="POST")
      label(for="username") Nombre de Usuario:
      input(type="text", name="username", id="username", required)
      label(for="password") Contraseña:
      input(type="password", name="password", id="password", required)
      label(for="rol") Rol:
      select(name="rol", id="rol")
        option(value="medico") Médico
        option(value="enfermeria") Enfermería
        option(value="admision") Admisión
        option(value="limpieza") Limpieza
      label(for="codigoSecreto") Código Secreto:
      input(type="text", name="codigoSecreto", id="codigoSecreto", required)
      button(type="submit") Crear cuenta
    if error
      p(style="color:red; margin-top: 12px;") #{error}

  #toast.toast
